body {
background-color: lightblue;
}

h1 {
color: navy;
margin-left: 20px;
}

img {
    background-color: green;
    border: 10px dotted black;
    border-radius: 15px;
    box-shadow: 15px 20px 20px grey;
}